# Auxiliary folders
.ipynb_checkpoints/
.vscode/
.ropeproject/

# Packaging stuff
*.pyc
/dist/
/*.egg-info
build/

# File formats
*.csv
*.python-version

# LaTeX auxiliary
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
